Connected Services/Camiones_Service/camiones_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCamiones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Camiones_VO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Camion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_Camion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Kilometraje" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlFoto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Disponibilidad" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCamiones_VO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Camiones_VO" nillable="true" type="tns:Camiones_VO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCamionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCamionesResult" type="tns:ArrayOfCamiones_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCamion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="camion" type="tns:Camiones_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCamionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarCamionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCamion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="camion" type="tns:Camiones_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCamionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarCamionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCamion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCamionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarCamionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCamionesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCamiones" />
  </wsdl:message>
  <wsdl:message name="GetCamionesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCamionesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarCamionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCamion" />
  </wsdl:message>
  <wsdl:message name="InsertarCamionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarCamionResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCamionSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCamion" />
  </wsdl:message>
  <wsdl:message name="ActualizarCamionSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCamionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCamionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCamion" />
  </wsdl:message>
  <wsdl:message name="EliminarCamionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCamionResponse" />
  </wsdl:message>
  <wsdl:portType name="camiones_ServiceSoap">
    <wsdl:operation name="GetCamiones">
      <wsdl:input message="tns:GetCamionesSoapIn" />
      <wsdl:output message="tns:GetCamionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCamion">
      <wsdl:input message="tns:InsertarCamionSoapIn" />
      <wsdl:output message="tns:InsertarCamionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCamion">
      <wsdl:input message="tns:ActualizarCamionSoapIn" />
      <wsdl:output message="tns:ActualizarCamionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCamion">
      <wsdl:input message="tns:EliminarCamionSoapIn" />
      <wsdl:output message="tns:EliminarCamionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="camiones_ServiceSoap" type="tns:camiones_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCamiones">
      <soap:operation soapAction="http://tempuri.org/GetCamiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCamion">
      <soap:operation soapAction="http://tempuri.org/InsertarCamion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCamion">
      <soap:operation soapAction="http://tempuri.org/ActualizarCamion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCamion">
      <soap:operation soapAction="http://tempuri.org/EliminarCamion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="camiones_ServiceSoap12" type="tns:camiones_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCamiones">
      <soap12:operation soapAction="http://tempuri.org/GetCamiones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCamion">
      <soap12:operation soapAction="http://tempuri.org/InsertarCamion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCamion">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCamion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCamion">
      <soap12:operation soapAction="http://tempuri.org/EliminarCamion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="camiones_Service">
    <wsdl:port name="camiones_ServiceSoap" binding="tns:camiones_ServiceSoap">
      <soap:address location="http://localhost:51451/WS/Camiones/camiones_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="camiones_ServiceSoap12" binding="tns:camiones_ServiceSoap12">
      <soap12:address location="http://localhost:51451/WS/Camiones/camiones_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>